/* footer.css */

/* Estilos do rodapé */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer .social-links {
    margin-top: 10px;
  }
  
  .footer .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer .social-links a:hover {
    text-decoration: underline;
  }