/* global.css */

/* Variables */
:root {
  --primary-bg-color: #333;
  --hover-bg-color: #575757;
  --text-color: white;
  --font-family: Arial, sans-serif;
  --padding: 10px 20px;
}

/* General Styles */
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}
