body {
    background-color: #0e040e;
    font-family: "Courier New", Courier, monospace;
    color: #00ffcc;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
}

main {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border: 2px solid #00ffcc; 
    box-shadow: 0 0 20px #00ffcc;
}

h1, h2 {
    color: #ff00ff;
    text-shadow: 2px 2px #00ffcc;
}

section {
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px #ff00ff;
}

ol {
    padding-left: 20px;
}

li {
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ff00ff; 
}

.close-btn {
    background-color: transparent;
    border: none;
    color: #ff00ff; 
    font-size: 20px;
    cursor: pointer;
}

.close-btn:hover {
    color: #ff77ff; 
}