body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

li {
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border: 1px solid #20c0ff;
    border-radius: 5px;
}

button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #ff1a1a;
}